client_id = ''
token = '' # your bot's token
email = '' # contact email for ESI header in case CCP gets angry at you

weather_api = '' #darkskynet api key for weather data
google_key = '' #google maps api for city searching/weather

#config options for killwatcher in discord - id like to move these to some database or something and configurable by the bot
channel = '' #channel name (NOT ID) to attempt to stream too
alliance =  # alliance to monitor
value = 500000000 #v value to announce kill or loss on
bigvalue = 20000000000 # value to announce ANY kill on