client_id = '' # bot client id
token  = '' # bot token

# weather_api = 'https://api.darksky.net/forecast/5cba58d586ac2f777d1457ad102afb16/' # darksky api
  # fix this, configure inside cogs.weather
# google_key = '' # google maps api

#configure here for feather (cogs.killwatch)
